<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.wms.instoremanage.minstore.mapper.TMinstoreMapper">
    
    <resultMap type="TMinstore" id="TMinstoreResult">
        <result property="minid"    column="minid"    />
        <result property="minname"    column="minname"    />
        <result property="mintype"    column="mintype"    />
        <result property="minnum"    column="minnum"    />
        <result property="mintime"    column="mintime"    />
    </resultMap>

    <sql id="selectTMinstoreVo">
        select minid, minname, mintype, minnum, mintime from t_minstore
    </sql>

    <select id="selectTMinstoreList" parameterType="TMinstore" resultMap="TMinstoreResult">
        <include refid="selectTMinstoreVo"/>
        <where>  
            <if test="minname != null  and minname != ''"> and minname like concat('%', #{minname}, '%')</if>
            <if test="mintype != null  and mintype != ''"> and mintype = #{mintype}</if>
            <if test="minnum != null "> and minnum = #{minnum}</if>
            <if test="mintime != null "> and mintime = #{mintime}</if>
        </where>
    </select>
    
    <select id="selectTMinstoreById" parameterType="Long" resultMap="TMinstoreResult">
        <include refid="selectTMinstoreVo"/>
        where minid = #{minid}
    </select>
        
    <insert id="insertTMinstore" parameterType="TMinstore" useGeneratedKeys="true" keyProperty="minid">
        insert into t_minstore
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="minname != null  and minname != ''">minname,</if>
            <if test="mintype != null  and mintype != ''">mintype,</if>
            <if test="minnum != null ">minnum,</if>
            <if test="mintime != null ">mintime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="minname != null  and minname != ''">#{minname},</if>
            <if test="mintype != null  and mintype != ''">#{mintype},</if>
            <if test="minnum != null ">#{minnum},</if>
            <if test="mintime != null ">#{mintime},</if>
         </trim>
    </insert>

    <update id="updateTMinstore" parameterType="TMinstore">
        update t_minstore
        <trim prefix="SET" suffixOverrides=",">
            <if test="minname != null  and minname != ''">minname = #{minname},</if>
            <if test="mintype != null  and mintype != ''">mintype = #{mintype},</if>
            <if test="minnum != null ">minnum = #{minnum},</if>
            <if test="mintime != null ">mintime = #{mintime},</if>
        </trim>
        where minid = #{minid}
    </update>

    <delete id="deleteTMinstoreById" parameterType="Long">
        delete from t_minstore where minid = #{minid}
    </delete>

    <delete id="deleteTMinstoreByIds" parameterType="String">
        delete from t_minstore where minid in 
        <foreach item="minid" collection="array" open="(" separator="," close=")">
            #{minid}
        </foreach>
    </delete>
    
</mapper>