<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【客户订单】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>货物名称：</p>
                                <input type="text" name="oname"/>
                            </li>
                            <li>
                                <p>货物类型：</p>
                                <select name="otype" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>货物数量：</p>
                                <input type="text" name="onum"/>
                            </li>
                            <li>
                                <p>货源地址：</p>
                                <input type="text" name="ocaddress"/>
                            </li>
                            <li>
                                <p>目的地地址：</p>
                                <input type="text" name="oaddress"/>
                            </li>
                            <li class="select-time">
                                <p>下单时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginOtime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endOtime]"/>
                            </li>
                            <li>
                                <p>客户编号：</p>
                                <input type="text" name="cid"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="instoremanage:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="instoremanage:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="instoremanage:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="instoremanage:order:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('instoremanage:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('instoremanage:order:remove')}]];
        var prefix = ctx + "instoremanage/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【客户订单列表】",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'oid', 
                    title : '订单编号',
                    visible: false
                },
                {
                    field : 'oname', 
                    title : '货物名称'
                },
                {
                    field : 'otype', 
                    title : '货物类型'
                },
                {
                    field : 'onum', 
                    title : '货物数量'
                },
                {
                    field : 'ocaddress', 
                    title : '货源地址'
                },
                {
                    field : 'oaddress', 
                    title : '目的地地址'
                },
                {
                    field : 'otime', 
                    title : '下单时间'
                },
                {
                    field : 'cid', 
                    title : '客户编号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.oid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.oid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>